@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merienda', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: rgb(216, 222, 240);

}

.main{
    position: absolute;
    transform: translateY(20px);
}

.text-win{
    visibility: hidden;
    opacity: 0%;
    text-align: center;
    transition: all .3s ease-out;
}

h2 {
    font-size: 40px;
    height: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.turn {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    transition: all .3s ease-out;

}

.gamebox {
    display: grid;
    grid: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 8px;
}

.box {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(33, 79, 230);
    font-size: 80px;
    color: black;
    cursor: pointer;
    transition: all .2s ease-out;

}
.box:hover{
    transform: scale(1.05);
    box-shadow: -1px -1px 30px -1px rgba(19, 74, 253, 0.75);
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 100px;

}

button {
    transform: scale(0);
    width: 250px;
    height: 70px;
    border: none;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    transition: all .3s ease-out;
}

button:hover {
    box-shadow: 0px 0px 45px 6px rgba(5,255,0,0.30);
    cursor: pointer;
}

.blue-hover:hover{
    box-shadow: -1px -1px 30px -1px rgba(19, 74, 253, 0.75);
}

button:active {
    transform: scale(0.97);
}



.o, .x {}

.gameboxR, .boxR {
    cursor: not-allowed;
    filter: blur(3px);
}
